
<body>
<div class="mainDiv">
            <p class="mark">
                <marquee><b>Schemes for Farmers welcomes all the Farmers and Bidders &amp;
                    requests to register for trading to avail benefits from the transparent system. Kindly reach us on our Toll-Free No.1800 270 0224 &nbsp;&nbsp;
                    &nbsp;&nbsp;
                   </b>
                </marquee>
            </p>
</div>
<div class="info">
    Schemes and Guidelines
<ul>
</ul>
</div>

<div class="homeImages">
    <img  src="https://ak.picdn.net/shutterstock/videos/7553389/thumb/1.jpg" alt="Farmer image">
</div>
</body>