<p>farmerplacerequest works!</p>
<br><br>
<div id="myme" style="background-image: url('assets/home(1).jpg');background-color: RGBA(15, 5, 20, 0.84);background-attachment: fixed;
 background-repeat: no-repeat; background-size: cover;">
    <div class="bg-overlay1">
        <div class="container" style="border: 3px solid black; width: 100%; height:75%;">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <br><br>
                        <h2 style="color: #EB233C">What you can do with Scheme for Farmers</h2>
                        <br><br>

                    </div>


                </div>
                <div>
                    <h1>Place sell request</h1>
                    <form [formGroup]="farmerplacerequest" (ngSubmit)="submitForm()" novalidate>
                       
                        <div class="form-group">
                            <label>Request ID</label>
                            <input type="number" formControlName="requestId" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Farmer ID</label>
                            <input type="number" formControlName="farmerId" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>Crop Name</label>
                            <input type="text" formControlName="cropName" class="form-control" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label>Crop Type</label>
                            <input type="text" formControlName="cropType" class="form-control" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label>Fertilizer Type</label>
                            <input type="text" formControlName="fertilizerType" class="form-control" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" formControlName="quantity" class="form-control" >
                        </div>
                        <div class="form-group"> 
                            <label>Status</label>
                            <input type="date" formControlName="postedDate" class="form-control">
                        </div>

                        

                        <button type="submit">Place sell request</button>
                    </form>


