<style>
    
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding:50px;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
  
        <div id="title">
            <h1>Bidder Welcome</h1>
        </div>
        <div class="banner" id="banner">
            <div class="bg-overlay2">
                <div class="contact" id="contact">
                    <div class="container">
                        <div>
                            <div>
                                <div class="text-center">
                                    <h3>Bidding</h3>
                                </div>
                            </div>
                            <div>
                                <table border="1" width="100%">
                                    <thead>
                                        <th>Crop Name </th>
                                        <th>Crop Type</th>
                                        <th>Quantity</th>
                                        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of crops ">
                                            
                                            <td>{{s.cropName}}</td>
                                            <td>{{s.cropType}}</td>
                                            <td>{{s.quantity}}</td>   
                                        </tr >
                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="table">
                                <table class="table" border="1">
                                    <thead>
                                        <th>Current Bid</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of currentbid"  ><td>{{c.bidAmount}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
        
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        
        <form [formGroup]="bidderposthisbidform" (ngSubmit)="submitForm()" novalidate>
             
            
            <div class="form-group">
                <label>Transaction Id</label>
                <input type="number" formControlName="transactionId" class="form-control" value="{{this.tosendtransactionId}}" readonly>
            </div>
            <div class="form-group">
                <label>Request Id</label>
                <input type="number" formControlName="requestId" class="form-control" value="{{this.tosendrequestId}}" readonly>
            </div>
            <div class="form-group">
                <label>Bidder Id</label>
                <input type="number" formControlName="bidderId" class="form-control" >
            </div>
            <div class="form-group">
                <label>Bid Amount</label>
                <input type="number" formControlName="bidAmount" class="form-control" >
            </div>
            <div class="form-group">
                <label>Bid Date</label>
                <input type="date" formControlName="bidDate" class="form-control" >
            </div>
            <div class="buttonbox">

                <button type="submit" class="button">Confirm</button>
            </div>
        </form>
    
<!-- <div class="banner" id="banner">
    <div class="bg-overlay2">
        <div class="contact" id="contact">
            <div class="container">
                <div>
                    <div>
                        <div class="text-center">
                            <h3>Bidding</h3>
                        </div>
                    </div>
                    <div>
                        <table class="table" border="1">
                            <thead>
                                <th>Crop Name </th>
                                <th>Crop Type</th>
                                <th>Quantity</th>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of crops ">
                                    
                                    <td>{{s.cropName}}</td>
                                    <td>{{s.cropType}}</td>
                                    <td>{{s.quantity}}</td>   
                                </tr >
                               
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table" border="1">
                            <thead>
                                <th>Current Bid</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of currentbid"  ><td>{{c.bidAmount}}</td></tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

<form [formGroup]="bidderposthisbidform" (ngSubmit)="submitForm()" novalidate>
     
    
    <div class="form-group">
        <label>Transaction Id</label>
        <input type="number" formControlName="transactionId" class="form-control" value="{{this.tosendtransactionId}}" readonly>
    </div>
    <div class="form-group">
        <label>Request Id</label>
        <input type="number" formControlName="requestId" class="form-control" value="{{this.tosendrequestId}}" readonly>
    </div>
    <div class="form-group">
        <label>Bidder Id</label>
        <input type="number" formControlName="bidderId" class="form-control" >
    </div>
    <div class="form-group">
        <label>Bid Amount</label>
        <input type="number" formControlName="bidAmount" class="form-control" >
    </div>
    <div class="form-group">
        <label>Bid Date</label>
        <input type="date" formControlName="bidDate" class="form-control" >
    </div>
    <button>Confirm</button> -->