* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    height: 200vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}
.text {
    font-size: 2.1em;
}

.title {
    font-size: 2.2em;
    font-weight: 700;
}

.time {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}