<div class="contain">
    <img src="assets/farmer(2).jpg" alt="farmer" style="height:600px;width:1500px;">

    <div class="container2">
        <h1>Welcome Farmer</h1>
        <br>
        <h2>Select your choice</h2><br />
        <p>
            <span style="color:#26269c;font-size:25px;" (click)="gotoplacerequest()">Place Sell request</span>
        </p><br>
        <p>
            <a style="color:#26269c;font-size:25px;" (click)="gotosellhistory()">View Sold Crop History</a>
        </p><br>
        <p>
            <a style="color:#26269c;font-size:25px;"(click)="gotomarketplace()">View Marketplace</a>
        </p><br>
        <p> 
            <a style="color:#26269c;font-size:25px;"(click)="gotoinsurance()">Insurance</a>
        </p><br>

    </div>

</div>

