<!doctype html>
<html>
<head>
<title style="color: white;">Contact</title>
<meta name="description" content="Insurance">
<meta name="keywords" content="html tutorial template">
<style>
   .center
   {padding:100px 300px 300px 300px;}
       
    .box
    { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.247), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   
</style>
</head>
<body>
    <br>
    <br>
    <br>

<section class="center">

   <div class="box">
    <h1 style="text-align: center;color:white">Contact</h1>

    <!-- <h2>Swasta kisan yojana</h2><br/> -->
    <p>
        <!-- <span > &nbsp;
        </span> -->
        Krishi Vihar, 210 Floor, 3, Siri Institutional Area,
        August Kranti Marg, Hauz Khas,
        New Delhi - 110016.
        <br>
    </p>
    <hr class="line"/>
    <p>
        <!-- <span > &nbsp;</span> -->
        Help Desk No.: 1800 270 0224
        <br>
    </p>
    <hr class="line"/>
    <p>
        <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        +91-11-26862367
    </p>
    <hr class="line"/>
    <p>
        <!-- <span class="glyphicon glyphicon-envelope"> &nbsp; </span> -->
        Email id- farmerhelp@gmail.com , landinsurance@gmail.com
        <br><br/> </p>
        <hr class="line"/>
       <p> Office Time: 09:30 AM. to 06:00 PM.</p><br/>
   
    <!-- <hr class="line"/> -->
    </div>


</section>
</body>
</html>