 span{
    font-size:large;
}
div{
    margin-top:5px;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size:medium;
    overflow: hidden;
    position:relative; 
    background-color:#263238; 

}
p{
    color:white;
}
hr.line{
    border-top: 1px solid whitesmoke;
} 