<!doctype html>
<html>
<head>
<title>Contact</title>
<meta name="description" content="Insurance">
<meta name="keywords" content="html tutorial template">
<style>
   .center{
       padding:50px 400px 400px 400px;
   }
</style>
</head>
<body>
<section class="center">

   <div>
    <h1 style="text-align: center;">Contact</h1>

    <!-- <h2>Swasta kisan yojana</h2><br/> -->
    <p>
        <span > &nbsp;
        </span>
        Krishi Vihar, 210 Floor, 3, Siri Institutional Area,
        August Kranti Marg, Hauz Khas,
        New Delhi - 110016.
        <br>
    </p>
    <hr/>
    <p>
        <span > &nbsp;</span>
        Help Desk No.: 1800 270 0224
        <br>
    </p>
    <hr/>
    <p>
        <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        +91-11-26862367
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
        Email id- farmerhelp@gmail.com , landinsurance@gmail.com
        <br><br/>
        Office Time: 09:30 AM. to 06:00 PM.<br/>
    </p>
    <hr/>
    </div>


</section>
</body>
</html>