<style>

body{
    background-image:  url("https://ak.picdn.net/shutterstock/videos/7553389/thumb/1.jpg");
      height: 100%; 
    opacity: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.button {
  background-color: #D9DD6B; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius:8px;
}

    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=number], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type=date], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
/*     
    div {
      border-radius: 5px;
      background-color: white;
      padding: 20px;
    } */
    .box
    {
        padding-left: 400px;
        padding-right: 400px;
        padding-top:100px;
        padding-bottom: 100px;
        
    }
    </style>
    <body>
        
   <div class="box">
    <form [formGroup] = "insuranceApplicationForm" (ngSubmit)="submitForm()" novalidate>
        <p class = "form-group"><b>Application Details</b></p>

            <div class="form-group">
                <label>Insurance Application Number</label>
                <input type="number" class="form-control" value="{{this.insurancefetchvar.length+1}}" readonly>
            </div>

            <div class="form-group">
                <label>FarmerId</label>
                <input type="number" formControlName="FarmerId" class="form-control" maxlength="10" placeholder="Please enter FarmerId">
            </div>
    
            <div class="form-group">
                <label> InsuranceCompany </label>
                <input type="text" formControlName="InsuranceCompany" class="form-control" placeholder="Please enter InsuranceCompany">
            </div>
                
            <div class="form-group">
                <label>Crop Type</label>
                <select formControlName="CropName"  class="form-control">
                    <option value="Kharif">Kharif</option>
                    <option value="Rabi">Rabi</option>
                    <option value="Horticulture">Horticulture</option>
                  </select>
                  <!-- <input type="text" formControlName="CropName" class="form-control" placeholder="please enter CropName"> -->
            </div>
    
            <div class="form-group">
                <label>Area</label>
                <input type="number" formControlName="Area" class="form-control" placeholder="please enter Area">
            </div>

            <div class="form-group">
                <label>Total Sum to be assured</label>
                <input type="number" formControlName="TotalSumInsured" class="form-control" placeholder="please enter total sum to be assured">
            </div>
            
            <button class ="button" type="button" (click)="this.Calculate()">Calculate</button>
            
            <div class="form-group">
                <label>Premium amount</label>
                <input type="number" class="form-control" value="{{this.premiumamt}}" readonly>
            </div>
    
            <div class="form-group">
                <label>Sum Insured per Hectare</label>
                <input type="number" class="form-control" value="{{this.suminsuredperhectare}}" readonly>
            </div>

            <button class ="button" type="submit" >Submit</button>
    </form>
</div>
</body>
    <!-- <p>The premium amount is {{this.premiumamt}}</p><br>
    <p>The Sum Insured per Hectare is {{this.suminsuredperhectare}}</p> -->

    