body{
    background-image:  url("https://ak.picdn.net/shutterstock/videos/7553389/thumb/1.jpg");
      height: 100%; 
    opacity: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}