<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Bidder Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <div class="bg-img">
        <div class="content">
            <header>Bidder Login</header>
            <form [formGroup]="bidderloginForm" (ngSubmit)="submitForm()" novalidate action="#">
                <div class="field">
                    <span class="fa fa-user"></span>
                    <input type="text" formControlName="Uname" class="form-control" maxlength="50" required
                        placeholder="Email">
                </div>
                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input type="password" formControlName="Password" class="form-control" maxlength="50"
                        class="pass-key" required placeholder="Password">

                </div>
                <br>

                <div class="field">
                    <input type="submit" value="LOGIN">
                </div>
            </form>

            <br>
            <div class="signup">
                Don't have account?
                <a href="BidderRegistration">Signup Now</a>
            </div>
        </div>
    </div>

</body>

</html>