<style>
  div{
        padding:50px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      padding:50px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<div>
    <table border="1" width="100%">
        <thead>
            <th>Bidder</th>
            <th>Approval status</th>
            <th>status</th>
            
            
        </thead>
        <tbody>
            <tr *ngFor="let s of transact">
                
                <td>{{s.bidderId }}</td>
                <td>{{s.bidAdminApprovalStatus }}</td>
                <td><input type="checkbox"> </td>                   
            </tr >
           
        </tbody>
    </table>
    <button type="button" (click)="gotoadminhome()">Back</button>
</div>
