<style>
    
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      padding:50px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr {
      background-color: #dddddd;
    }
    </style>



   
    <!-- <section class = "Body">
        <ul class= "main"><p (click)="Applyforpolicy()">Apply for Policy</p> </ul>
        <ul class= "main"><p (click)="ClaimInsurance()">Claim Insurance</p></ul>
        <router-outlet> </router-outlet>
    </section> -->
    <table>
        <tr><td><p (click)="Applyforpolicy()">Apply for Policy</p></td></tr>
        <tr><td><p (click)="ClaimInsurance()">Claim Insurance</p></td></tr>
    </table>


