<!DOCTYPE html>
<html>
<head>
    <style>
body{
    background-image:  url('https://ak.picdn.net/shutterstock/videos/7553389/thumb/1.jpg');
    height: 100%; 
    opacity: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
text{opacity: 1;}

    p{font-size:20px; }
    /* .text{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    } */
  </style>
  </head>
  <body>

   <div >
       <!-- <img src="https://raw.githubusercontent.com/sagarsp123/Scheme_for_Farmers/main/Angular/AgriFarmProj/src/assets/images/Agriculture.jpg">
        -->
       <div class="text">
    <h1 style="text-align: center;padding-top: 100px;">About FarmerScheme</h1>
       </div>
        <div style="padding: 50px;">
    
            <p>Agriculture is the backbone of the Indian Economy"- said Mahatma Gandhi six decades ago. Even today, the situation is still the same, with almost the entire economy being sustained by agriculture, which is the mainstay of the villages. It contributes
                16% of the overall GDP and accounts for employment of approximately 52% of the Indian population. Rapid growth in agriculture is essential not only for self-reliance but also to earn valuable foreign exchange.
            </p>
            <p>Farmers' portal facilitates farmers to sell crops to potential bidders and also avail facilities of FASAL BIMA YOJNA</p>
            <p>
                <!-- Indian farmers are second to none in production and productivity despite of the fact that millions are marginal and small farmers. 
                They adopt improved agriculture technology as efficiently as farmers in developed countries. It is felt that with provision
                of timely and adequate inputs such as fertilizers, seeds, pesticides and by making available affordable agricultural credit /crop insurance, Indian farmers are going to ensure food and nutritional security to the Nation.
                It is envisaged to make available relevant information and services to the farming community and private sector through the use of information and communication technologies, to supplement the existing delivery channels provided for by the department. 
                 -->
                Farmers’Portal is an endeavour in this direction to create one stop shop for meeting all informational needs relating to Agriculture of an Indian farmer. With this Indian Farmer will
                not be required to sift through maze of websites created for specific purposes.
            </p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>
  </body>
</html>
