<style>
    
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      padding:50px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
        <div>
            <table class="table" border="1">
                <thead>
                    <tr>
                     
                        <!-- <th>#</th> -->
                        <th>Request Id</th>
                        <th>FarmerId</th>
                        <th>CropName</th>
                        <th>CropType </th>
                        <th>FertilizerType</th>
                        <th>Quantity</th> 
                        <th>isTransactionCompleted</th> 
                        <th>Posted date</th>                                                       

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let market of viewmarketplace">
                        <td>{{market.requestId}}</td>
                        <td>{{market.farmerId}}</td>
                        <td>{{market.cropName}}</td>
                        <td>{{market.cropType}}</td>
                        <td>{{market.fertilizerType}}</td>
                        <td>{{market.quantity}}</td>
                        <td>{{market.isTransactionCompleted}}</td>
                        <td>{{market.postedDate}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" (click)="gotofarmerwelcome()">Back</button>
 </div>

   
